icall4 {
  font: 500 15px var(--font1);
  line-height: 1.5;
  letter-spacing: 0.25px;
  display: flex;
  flex-direction: column;
  place-content: center flex-start;
  align-items: stretch;
  background: rgba(var(--bgelev1));
  width: 400px;
  border-radius: 25px;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 0;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
icall4 topper {
  order: 1;
  width: 100%;
  padding: 70px;
  background: rgba(var(--bgelev1)) linear-gradient(to right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
  display: flex;
  place-content: center center;
  align-items: center;
  border-radius: inherit;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
icall4 gif {
  display: block;
  width: 116px;
  height: 116px;
  border-radius: 50%;
  display: flex;
  place-content: center center;
  align-items: center;
}
icall4 gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 8px solid rgba(var(--bgelev1));
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
icall4 gif img[src].mgicon {
  padding: 20px;
  border-radius: 0px;
  border: 0;
  box-shadow: none;
}
icall4 gif i {
  font-size: 116px;
  line-height: 1;
  color: rgba(var(--bgelev1));
  filter: drop-shadow(0 0 10px rgba(var(--shadow), .15));
}
icall4 middle {
  order: 2;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  place-content: center center;
  align-items: flex-start;
  text-align: left;
}
icall4 middle span {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
}
icall4 middle span::before {
  content: "now connected to:";
}
icall4 recipient {
  font: 400 20px var(--font2);
  background-image: linear-gradient(to right, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0);
  text-decoration: underline rgba(var(--font));
}
icall4 .actions {
  order: 3;
  margin: 40px;
  margin-top: 0;
  padding: 15px;
  background: rgba(var(--bgelev2));
  border-radius: 15px;
  text-align: justify;
}
icall4 .actions p {
  display: block;
  margin: 0;
  margin-top: 15px;
  text-indent: 10px;
}
icall4 .actions p:first-child {
  margin-top: 0;
}
icall4 .actions b, icall4 .actions i {
  font-size: 17px;
}
icall4 .actions b {
  color: var(--fontaccent1);
}
icall4 .actions i {
  color: var(--fontaccent4);
}
icall4 .actions u {
  font: 400 15px var(--font2);
  text-decoration: underline var(--fontaccent2);
}
icall4 .actions a {
  color: var(--fontaccent3);
  text-decoration: underline;
}
icall4 bottbar {
  order: 4;
  background: rgba(var(--bgelev2));
  height: 30px;
  border-radius: inherit;
  position: relative;
  background: rgba(var(--bgelev1)) linear-gradient(to right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
