icall12 {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  place-content: center flex-start;
  align-items: stretch;
  background: rgba(var(--bgelev1));
  width: 365px;
  border-radius: 8px;
  background: rgba(var(--bgelev1)) linear-gradient(to right, var(--pastelgradient3)); background-blend-mode: var(--blendmode);
  overflow: hidden;
  font: 500 15px var(--font1);
  line-height: 1.5;
  letter-spacing: 0.25px;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
icall12 bgmarshmallow {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(var(--bgelev1), 0) 0%, rgba(var(--bgelev1), 1) 200px);
}
icall12 topper {
  position: relative;
  order: 1;
  padding: 20px;
  display: flex;
  place-content: center space-between;
  align-items: center;
  font-size: 11px;
  border-bottom: 1px solid rgba(var(--bgelev6));
  z-index: 3;
}
icall12 topper topleft {
  display: flex;
  gap: 10px;
  place-content: center flex-start;
  align-items: center;
  color: var(--fontaccent4);
}
icall12 topper topleft span {
  font: 700 10px var(--font1);
  text-transform: uppercase;
  color: rgba(var(--fontdim));
}
icall12 topper topleft span::before {
  content: "back to contacts";
}
icall12 topper topright {
  display: flex;
  gap: 10px;
  place-content: center flex-end;
  align-items: center;
  color: var(--fontaccent1);
}
icall12 recipient {
  position: relative;
  order: 2;
  padding: 30px;
  z-index: 3;
  display: flex;
  gap: 10px;
  flex-direction: column;
  place-content: center center;
  align-items: center;
}
icall12 recipient::before {
  content: "call connected";
  display: block;
  font: 400 25px var(--font2);
  background-image: linear-gradient(to right, var(--pastelgradient1));
  background-repeat: no-repeat;
  background-size: 100% 15px;
  background-position: 0 100%;
  padding-bottom: 2px;
  color: rgba(var(--fontdim));
}
icall12 recipient span {
  font: 600 16px var(--font1);
  text-transform: uppercase;
}
icall12 gcsur {
  order: 3;
  width: 100%;
  z-index: 3;
  border-top: 1px solid rgba(var(--bgelev4));
  padding: 15px;
}
icall12 gcsur {
  width: 100%;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  place-content: center center;
  align-items: center;
}
icall12 gc {
  flex: none;
  display: flex;
  place-content: center center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 50%;
  background: rgba(var(--bgelev2));
  font: 700 11px var(--font1);
  text-transform: uppercase;
}
icall12 gc:nth-child(1) {
  color: var(--fontaccent1);
}
icall12 gc:nth-child(2) {
  color: var(--fontaccent2);
}
icall12 gc:nth-child(3) {
  color: var(--fontaccent3);
}
icall12 gc:nth-child(4) {
  color: var(--fontaccent2);
}
icall12 gc:nth-child(5) {
  color: var(--fontaccent1);
}
icall12 gc:nth-child(6) {
  color: var(--fontaccent2);
}
icall12 gc:nth-child(7) {
  color: var(--fontaccent3);
}
icall12 gc:nth-child(8) {
  color: var(--fontaccent2);
}
icall12 gc:nth-child(9) {
  color: var(--fontaccent1);
}
icall12 gc:nth-child(10) {
  color: var(--fontaccent2);
}
icall12 gc img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
icall12 .actions {
  order: 4;
  display: block;
  z-index: 3;
  padding: 30px;
  border-top: 1px solid rgba(var(--bgelev4));
  text-align: justify;
}
icall12 .actions p {
  margin: 15px 0 0 0;
  text-indent: 10px;
}
icall12 .actions p:first-child {
  margin-top: 0;
}
icall12 .actions b, icall12 .actions i {
  background-image: linear-gradient(to right, var(--pastelgradient2));
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 100%;
  padding-bottom: 2px;
  font-size: 16px;
}
icall12 .actions u {
  font: 400 15px var(--font2);
  text-decoration: underline var(--fontaccent4);
}
icall12 .actions a {
  text-decoration: underline var(--fontaccent1);
}
icall12 .actions p img {
  display: block;
  max-width: 100%;
  border-radius: inherit;
}
icall12 bottbar {
  order: 5;
  display: flex;
  gap: 10px;
  place-content: center space-between;
  align-items: center;
  border-top: 1px solid rgba(var(--bgelev4));
  padding: 15px;
  z-index: 3;
  background: rgba(var(--bgelev1)) linear-gradient(to right, var(--pastelgradient3)); background-blend-mode: var(--blendmode);
}
icall12 bottbar gif {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .35);
}
icall12 bottbar gif:has(.mgicon) {
  box-shadow: none;
}
icall12 bottbar gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
icall12 bottbar gif img[src].mgicon {
  padding: 8px;
  border-radius: 0px;
}
icall12 bottbar span {
  display: flex;
  gap: 10px;
  place-content: center space-between;
  align-items: center;
  flex-grow: 1;
  background: rgba(var(--bgelev1));
  padding: 10px;
  border-radius: 8px;
  text-align: right;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
icall12 bottbar span i {
  color: var(--fontaccent2);
}
icall12 bottbar span::after {
  content: "end call now";
  font: 700 11px var(--font1);
  text-transform: uppercase;
  color: rgba(var(--fontdimmer));
}