idev4 {
  display: block;
  margin: auto;
  background: rgba(var(--bgelev1));
  border-radius: 8px;
  border: 1px solid rgba(var(--border));
  font: 500 13px var(--font1);
  line-height: 1.5;
  overflow: hidden;
  width: 600px;
}
idev4 topper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  place-content: center center;
  align-items: flex-start;
  padding: 30px;
  background: rgba(var(--bgelev3));
}
idev4 topper:first-of-type {
  border-bottom: 1px solid rgba(var(--border));
}
idev4 topper:last-of-type {
  border-top: 1px solid rgba(var(--border));
  padding: 25px;
}
idev4 ttitle {
  display: inline-block;
  font: 500 40px var(--font2);
  text-transform: lowercase;
  background-image: linear-gradient(to right, var(--pastelgradient2));
  background-repeat: no-repeat; 
  background-size: auto 5px; 
  background-position: 0 100%; 
  padding-bottom: 5px; 
}
idev4 subtitle {
  font: 700 10px var(--font1);
  text-transform: uppercase;
  color: rgba(var(--fontdim));
}
idev4 ttitle:empty, idev4 subtitle:empty {
  display: none;
}
idev4 img {
  max-width: 100%;
}
idev4 .devstuff {
  display: block;
  background: rgba(var(--bgelev1));
  padding: 50px;
  text-align: justify;
}
idev4 .devstuff h1, idev4 .devstuff h2, idev4 .devstuff h3, idev4 .devstuff h4, idev4 .devstuff h5, idev4 .devstuff h6 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: var(--font2);
  line-height: 100%;
  background-image: linear-gradient(to right, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0);
  width: fit-content;
}
idev4 .devstuff p {
  margin: 0;
  margin-top: 1em;
  text-indent: 1em;
}
idev4 .devstuff p:first-child {
  margin-top: 0;
}
idev4 .devstuff b, idev4 .devstuff i, idev4 .devstuff u, idev4 .devstuff a {
  font-size: 17px;
}
idev4 .devstuff b {
  color: var(--fontaccent1);
}
idev4 .devstuff i {
  color: var(--fontaccent4);
}
idev4 .devstuff u {
  font: 400 15px var(--font2);
  text-decoration: underline var(--fontaccent2);
}
idev4 .devstuff a {
  text-decoration: underline;
  color: var(--fontaccent2);
}
idev4 .devstuff del {
  text-decoration: line-through var(--fontaccent1);
}
idev4 .devstuff mark {
  color: rgba(var(--font));
  padding: 2px 5px;
  border-radius: 5px;
  background-color: rgba(var(--bgelev1)) linear-gradient(to right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
idev4 .devstuff blockquote {
  background: rgba(var(--bgelev3));
  margin: 20px;
  border-radius: 10px;
  padding: 15px;
}
idev4 .devstuff q {
  font-size: 40px;
  line-height: 100%;
  display: block;
  border-bottom: 2px solid rgba(var(--bgelev4));
  padding-bottom: 15px;
}
idev4 .devstuff cite {
  margin-top: 15px;
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11px;
  line-height: 100%;
}
idev4 .devstuff cite:before {
  content: "-- ";
}
idev4 .devstuff ol, idev4 .devstuff ul {
  background: rgba(var(--bgelev2));
  padding: 20px;
  border-radius: 10px;
  list-style-position: inside;
  display: flex;
  gap: 10px;
  flex-direction: column;
  place-content: center flex-start;
  align-items: center;
}
idev4 .devstuff ol {
  list-style-type: none;
}
idev4 .devstuff li {
  width: 100%;
  background: rgba(var(--bgelev1));
  padding: 10px;
  border-radius: 10px;
}
idev4 .devstuff li a {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}
idev4 .devstuff[class*=images] {
  display: grid;
  grid-gap: 10px;
  align-items: stretch;
  background: none;
}
idev4 .devstuff.images-1 {
  grid-template-columns: 1fr;
}
idev4 .devstuff.images-2 {
  grid-template-columns: repeat(2, 1fr);
}
idev4 .devstuff.images-3 {
  grid-template-columns: repeat(3, 1fr);
}
idev4 .devstuff.images-4 {
  grid-template-columns: repeat(4, 1fr);
}
idev4 .devstuff[class*=images] img {
  display: block;
  width: 100%;
  border-radius: 5px;
}
idev4 .devstuff iframe {
  border-radius: 8px;
}
idev4 devcharacter {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1px;
  border-radius: 5px;
  border: 1px solid rgba(var(--border));
  background: rgba(var(--border));
  margin-bottom: 10px;
  overflow: hidden;
}
idev4 devcharacter:last-child {
  margin-bottom: 0;
}
idev4 devgif {
  display: block;
  width: 90px;
  height: 90px;
  padding: 15px;
  background: rgba(var(--bgelev1)) linear-gradient(to top right, var(--pastelgradient1)); 
}
idev4 devgif img {
  display: block;
  flex: none;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(var(--bgelev1));
  outline: 1px solid rgba(var(--border));
  border-radius: 50%;
}
idev4 devcharacter charinf {
  flex-grow: 1;
  display: flex;
  gap: 5px;
  flex-direction: column;
  place-content: center center;
  align-items: center;
  background: rgba(var(--bgelev3));
  padding: 15px;
}
idev4 charname {
  font: 400 18px var(--font2);
  line-height: 1;
  background-image: linear-gradient(to right, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0);
  border-bottom: 2px solid rgba(var(--bgelev1));
  padding-bottom: 4px;
}
idev4 charname a {
  color: inherit;
}
idev4 charrel {
  font: 800 11px var(--font1);
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}