@import url("https://use.typekit.net/qpg2hts.css");

irequest6 {
  --font1: hoss-round; --font2: eldwin-script; --font3: confiteria-script;
  font: 400 14px var(--font1);
  line-height: 1.5;
  background: rgba(var(--bgelev1)) linear-gradient(to bottom, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
  display: block;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
  margin: auto;
  border: 1px solid rgba(var(--bgelev1));
}
irequest6 inner {
  display: block;
  background: rgba(var(--bgelev1));
  padding: 25px;
  border-radius: inherit;
}
