irequest16 {
  display: block;
  margin: 0 auto;
  width: 600px;
  border: 1px solid rgba(var(--border));
  border-radius: var(--borderradius2);
  overflow: hidden;
  font: 300 15px var(--font1);
  line-height: 2;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
irequest16 topper {
  position: relative;
  display: flex;
  gap: 20px;
  place-content: center space-between;
  align-items: center;
  width: 100%;
  padding: 100px 70px;
  border-bottom: 1px solid rgba(var(--border));
}
irequest16 topper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--mgbanner);
  filter: grayscale(100%);
  background-blend-mode: var(--blendmode);
  background-size: cover;
  background-position: center;
  z-index: 0;
}
irequest16 topper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--bgelev1)) linear-gradient(to bottom right, var(--pastelgradient3)); background-blend-mode: var(--blendmode);
  position: absolute;
  opacity: .95;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
irequest16 topper gif {
  flex: none;
  position: relative;
  z-index: 2;
  width: 80px;
  height: 80px;
  display: block;
  background: rgba(var(--bgelev1));
  padding: 5px;
  border-radius: var(--borderradius2);
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
irequest16 topper gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
irequest16 topper gif img[src].mgicon {
  padding: 5px;
  border-radius: 0px;
  border: none;
  background: none;
}
irequest16 topper gif:has(img[src].mgicon) {
  border-radius: 0px;
  border: none;
  background: none;
  box-shadow: none;
}
irequest16 ttitle {
  z-index: 2;
  font: 300 45px var(--font2);
  border-bottom: 2px solid rgba(var(--bgelev4));
  text-align: right;
}
irequest16 ttitle:first-letter {
  color: var(--fontaccent1);
}
irequest16 inner {
  display: block;
  background: rgba(var(--bgelev2));
  padding: 80px;
}
irequest16 .writing {
  background: rgba(var(--bgelev1));
  padding: 30px;
  border: 1px solid rgba(var(--border));
  border-radius: 0 0 var(--borderradius2) var(--borderradius2);
  text-align: justify;
}
irequest16 .writing overflow {
  max-height: 300px;
}
irequest16 .writing p {
  margin: 0;
  margin-top: 20px;
  text-indent: 20px;
}
irequest16 .writing p:first-child {
  margin-top: 0;
}
irequest16 .writing b {
  position: relative;
  font: 600 15px var(--font3);
  text-shadow: 0 0 10px var(--fontaccent1);
}
irequest16 .writing i {
  font: 400 15px var(--font3);
  text-shadow: 0 0 10px var(--fontaccent2);
  font-style: italic;
  letter-spacing: -0.5px;
}
irequest16 .writing u {
  font: 400 15px var(--font3);
  text-shadow: 0 0 10px var(--fontaccent3);
  text-decoration: underline rgba(var(--fontdimmer));
}
irequest16 .writing a {
  text-decoration: underline var(--fontaccent1);
}
irequest16 reqabt {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  place-content: center stretch;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: rgba(var(--bgelev3));
  border: 1px solid rgba(var(--border));
  border-bottom: 0;
  border-radius: var(--borderradius2) var(--borderradius2) 0 0;
}
irequest16 reqabt span {
  flex-grow: 1;
  background: rgba(var(--bgelev1));
  padding: 10px;
  border-radius: var(--borderradius2);
  font: 600 10px var(--font3);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgba(var(--fontdim));
}
irequest16 sectionhead {
  position: relative;
  display: flex;
  gap: 20px;
  place-content: center center;
  align-items: center;
  width: 100%;
  padding: 50px;
  border-top: 1px solid rgba(var(--border));
  border-bottom: 1px solid rgba(var(--border));
}
irequest16 sectionhead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--mgbanner);
  filter: grayscale(100%);
  background-blend-mode: var(--blendmode);
  background-size: cover;
  background-position: center;
  z-index: 0;
}
irequest16 sectionhead::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--bgelev1)) linear-gradient(to bottom right, var(--pastelgradient3)); background-blend-mode: var(--blendmode);
  position: absolute;
  opacity: .95;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
irequest16 sectionhead hhead {
  position: relative;
  z-index: 2;
  font: 300 40px var(--font2);
  border-bottom: 2px solid rgba(var(--bgelev4));
  text-align: right;
}
irequest16 sectionhead hhead:first-letter {
  color: var(--fontaccent1);
}
irequest16 .charsection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
irequest16char {
  border: 1px solid rgba(var(--border));
  border-radius: var(--borderradius2);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
  background: rgba(var(--bgelev3));
  padding: 20px;
}
irequest16char gif {
  flex: none;
  position: relative;
  z-index: 2;
  width: 34px;
  height: 34px;
  display: block;
  background: rgba(var(--bgelev1));
  padding: 2px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
irequest16char gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
irequest16char gif img[src].mgicon {
  border-radius: 0px;
  border: none;
  background: none;
}
irequest16char gif:has(img[src].mgicon) {
  border-radius: 0px;
  border: none;
  background: none;
  box-shadow: none;
}
irequest16char .writing {
  grid-column: 1 / -1;
  margin: 0 -20px -20px;
  border: 0;
  border-top: 1px solid rgba(var(--border));
}
irequest16char .writing p {
  text-indent: 0;
}
irequest16char .writing overflow {
  max-height: 100px;
}
irequest16char charname {
  font: 300 23px var(--font2);
  background-image: linear-gradient(to right, var(--pastelgradient2));
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 100%;
  padding-bottom: 2px;
  width: fit-content;
  text-align: right;
  justify-self: end;
}
irequest16char charstuff {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  place-content: center stretch;
  align-items: center;
  width: 100%;
  grid-column: 1 / -1;
}
irequest16char charstuff span {
  flex-grow: 1;
  background: rgba(var(--bgelev1));
  padding: 10px;
  border-radius: var(--borderradius2);
  font: 600 10px var(--font3);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgba(var(--fontdim));
}