irequest13 {
  display: block;
  margin: auto;
  background: rgba(var(--bgelev1));
  border-radius: 8px;
  border: 1px solid rgba(var(--border));
  font: 500 14px var(--font1);
  line-height: 1.5;
  width: 650px;
}
irequest13 topper {
  display: flex;
  gap: 30px;
  place-content: center space-between;
  align-items: center;
  padding: 30px;
  background: rgba(var(--bgelev3));
}
irequest13 topper:first-of-type {
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid rgba(var(--border));
}
irequest13 topper:last-of-type {
  border-radius: 0 0 8px 8px;
  border-top: 1px solid rgba(var(--border));
  padding: 15px;
}
irequest13 topperleft {
  display: flex;
  gap: 10px;
  flex-direction: column;
  place-content: center center;
  align-items: flex-start;
}
irequest13 ttitle {
  display: inline-block;
  font: 500 25px var(--font2);
  text-transform: lowercase;
  background-image: linear-gradient(to right, var(--pastelgradient2));
  background-repeat: no-repeat; 
  background-size: auto 5px; 
  background-position: 0 100%; 
  padding-bottom: 5px; 
}
irequest13 subtitle {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  place-content: center flex-start;
  align-items: center;
  font: 700 10px var(--font1);
  letter-spacing: .25px;
  text-transform: uppercase;
  color: rgba(var(--fontdim));
}
irequest13 ttitle:empty, irequest13 subtitle:empty {
  display: none;
}
irequest13 subtitle span {
  background: rgba(var(--bgelev1));
  padding: 8px;
  border-radius: 5px;
}
irequest13 topper img[src].mgicon {
  width: 40px;
  height: 40px;
  border-radius: 0px;
}
irequest13 inner {
  display: grid;
  grid-gap: 14px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: start;
  background: rgba(var(--bgelev1));
  padding: 50px;
}
irequest13 .writing {
  grid-column: span 2;
  display: block;
  width: 100%;
  text-align: justify;
}
irequest13 .writing overflow {
  max-height: 150px;
}
irequest13 .writing p {
  margin: 0;
  margin-top: 1em;
  text-indent: 1em;
}
irequest13 .writing p:first-child {
  margin-top: 0;
}
irequest13 .writing b, irequest13 .writing i, irequest13 .writing u, irequest13 .writing a {
  font-size: 17px;
}
irequest13 .writing b {
  color: var(--fontaccent1);
}
irequest13 .writing i {
  color: var(--fontaccent4);
}
irequest13 .writing u {
  font: 400 15px var(--font2);
  text-decoration: underline var(--fontaccent2);
}
irequest13 .writing a {
  text-decoration: underline;
  color: var(--fontaccent2);
}
irequest13char {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  place-content: center space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(var(--border));
  overflow: hidden;
  padding: 15px;
  background: rgba(var(--bgelev1)) linear-gradient(to right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
irequest13char .writing {
  background: rgba(var(--bgelev1));
  padding: 10px;
  border-radius: 5px;
}
irequest13char .writing overflow {
  max-height: 100px;
}
irequest13char gif {
  flex: none;
  display: block;
  width: 86px;
  height: 86px;
  border-radius: 50%;
}
irequest13char gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 3px solid rgba(var(--bgelev1));
}
irequest13char gif img[src].mgicon {
  padding: 20px;
  border-radius: 0px;
  border: none;
}
irequest13char rightspace {
  display: flex;
  flex-direction: column;
  place-content: center center;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-align: center;
}
irequest13char charname {
  text-align: center;
  font: 700 15px var(--font1);
  text-transform: uppercase;
  color: rgba(68, 68, 68);
  background-image: linear-gradient(to right, var(--fontgradient));
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 100%;
  padding-bottom: 5px;
}
irequest13char charstuff {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  place-content: center flex-end;
  align-items: center;
}
irequest13char charstuff:empty {
  display: none;
}
irequest13char charstuff span {
  display: inline-block;
  background: rgba(var(--bgelev1));
  padding: 3px 5px;
  border-radius: 3px;
  font: 700 10px var(--font1);
  text-transform: uppercase;
  letter-spacing: .25px;
}
irequest13char .writing {
  border-radius: 5px;
  padding: 10px;
  background: rgba(var(--bgelev1));
}
irequest13char .writing overflow {
  max-height: 100px;
}