@import url("https://use.typekit.net/ewz4vjp.css");

irequest1 {
  --font1: laca; --font2: jeanne-moderno-geometrique;
  font: 500 15px var(--font1);
  line-height: 1.5;
  letter-spacing: 0.25px;
  display: block;
  background: rgba(var(--bgelev1));
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
  overflow: hidden;
}
irequest1headwr {
  display: flex;
  place-content: center space-between;
  align-items: center;
  padding: 30px;
  background: rgba(var(--bgelev1)) linear-gradient(to right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
irequest1headsur {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-content: center center;
  align-items: flex-start;
}
irequest1lyr {
  font: 400 30px var(--font2);
  display: inline-block;
  text-decoration: underline rgba(var(--bgelev1));
}
irequest1abt {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  place-content: center flex-start;
  align-items: center;
}
irequest1abt span {
  background: rgba(var(--bgelev1));
  padding: 8px;
  border-radius: 8px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
irequest1gif {
  flex: none;
  display: flex;
  place-content: center center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(var(--bgelev1));
  padding: 8px;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
irequest1gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
irequest1gif img:not(:only-child) {
  display: none;
}
irequest1gif i {
  font-size: 40px;
  color: var(--fontaccent1);
  line-height: 1;
  display: flex;
  place-content: center center;
  align-items: center;
}
irequest1below {
  display: block;
  padding: 50px;
}
irequest1 .writing {
  display: block;
  background: rgba(var(--bgelev2));
  padding: 20px;
  border-radius: 20px;
  text-align: justify;
}
irequest1 .writing overflow {
  max-height: 20em;
}
irequest1 .writing p {
  margin: 0;
  margin-top: 1em;
  text-indent: 1em;
}
irequest1 .writing p:first-child {
  margin-top: 0;
}
irequest1 .writing b, irequest1 .writing i, irequest1 .writing u, irequest1 .writing a {
  font-size: 17px;
}
irequest1 .writing b {
  color: var(--fontaccent1);
}
irequest1 .writing i {
  color: var(--fontaccent4);
}
irequest1 .writing u {
  font: 400 15px var(--font2);
  text-decoration: underline var(--fontaccent2);
}
irequest1 .writing a {
  text-decoration: underline;
  color: var(--fontaccent3);
}
irequest1bott {
  display: block;
  width: 100%;
  height: 50px;
  background: rgba(var(--bgelev1)) linear-gradient(to left, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
