itext10 {
  display: flex;
  flex-direction: column;
  place-content: flex-start center;
  align-items: stretch;
  font: 500 13px var(--font1);
  line-height: 1.5;
  letter-spacing: 0.25px;
  background: rgba(var(--bgelev1));
  width: 400px;
  border-radius: 10px;
  padding: 0;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 0;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
  border: 1px solid rgba(var(--border));
}
itext10 topper {
  order: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  place-content: center space-between;
  align-items: center;
  background: rgba(var(--bgelev1)) linear-gradient(to right, var(--pastelgradient1)); 
  padding: 30px;
  border-bottom: 1px solid rgba(var(--border));
}
itext10 toppertb {
  order: -1;
  width: 100%;
  display: flex;
  gap: 10px;
  place-content: center space-between;
  align-items: center;
  color: rgba(var(--bgelev1));
  font-size: 15px;
}
itext10 toppertb i:first-child {
  flex-grow: 1;
}
itext10 gcsur {
  width: 100%;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  place-content: center center;
  align-items: center;
}
itext10 gc {
  flex: none;
  display: flex;
  place-content: center center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  background: rgba(var(--bgelev1));
  font: 800 11px var(--font1);
  text-transform: uppercase;
}
itext10 gc:nth-child(1) {
  color: var(--fontaccent1);
}
itext10 gc:nth-child(2) {
  color: var(--fontaccent2);
}
itext10 gc:nth-child(3) {
  color: var(--fontaccent3);
}
itext10 gc:nth-child(4) {
  color: var(--fontaccent2);
}
itext10 gc:nth-child(5) {
  color: var(--fontaccent1);
}
itext10 gc:nth-child(6) {
  color: var(--fontaccent2);
}
itext10 gc:nth-child(7) {
  color: var(--fontaccent3);
}
itext10 gc:nth-child(8) {
  color: var(--fontaccent2);
}
itext10 gc:nth-child(9) {
  color: var(--fontaccent1);
}
itext10 gc:nth-child(10) {
  color: var(--fontaccent2);
}
itext10 gif.circle ~ gcsur gc {
  border-radius: 50%;
}
itext10 gif.square ~ gcsur gc {
  border-radius: 5px;
}
itext10 gif.blob ~ gcsur gc {
  margin: 0;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 0;
  padding: 0;
  mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00Ny40LC02Ny45QzU5LjksLTU2LjMsNjcuMiwtNDAuMyw3MS42LC0yNEM3NS45LC03LjcsNzcuMiw4LjksNzIuNywyMy45QzY4LjMsMzguOSw1OCw1Mi40LDQ1LDYyLjhDMzEuOSw3My4yLDE1LjksODAuNSwtMS40LDgyLjRDLTE4LjgsODQuMywtMzcuNSw4MC45LC01MC44LDcwLjZDLTY0LjEsNjAuMywtNzEuOSw0My4xLC03Ny42LDI1LjNDLTgzLjMsNy41LC04Ni45LC0xMC45LC04MSwtMjUuNEMtNzUuMSwtMzkuOSwtNTkuNywtNTAuNSwtNDQuNywtNjEuM0MtMjkuNiwtNzIuMSwtMTQuOCwtODMuMSwxLjQsLTg1QzE3LjUsLTg2LjgsMzUsLTc5LjYsNDcuNCwtNjcuOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00Ny40LC02Ny45QzU5LjksLTU2LjMsNjcuMiwtNDAuMyw3MS42LC0yNEM3NS45LC03LjcsNzcuMiw4LjksNzIuNywyMy45QzY4LjMsMzguOSw1OCw1Mi40LDQ1LDYyLjhDMzEuOSw3My4yLDE1LjksODAuNSwtMS40LDgyLjRDLTE4LjgsODQuMywtMzcuNSw4MC45LC01MC44LDcwLjZDLTY0LjEsNjAuMywtNzEuOSw0My4xLC03Ny42LDI1LjNDLTgzLjMsNy41LC04Ni45LC0xMC45LC04MSwtMjUuNEMtNzUuMSwtMzkuOSwtNTkuNywtNTAuNSwtNDQuNywtNjEuM0MtMjkuNiwtNzIuMSwtMTQuOCwtODMuMSwxLjQsLTg1QzE3LjUsLTg2LjgsMzUsLTc5LjYsNDcuNCwtNjcuOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
itext10 gc img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
itext10 gif.blob ~ gcsur gc img {
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: inherit;
  mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00Ny40LC02Ny45QzU5LjksLTU2LjMsNjcuMiwtNDAuMyw3MS42LC0yNEM3NS45LC03LjcsNzcuMiw4LjksNzIuNywyMy45QzY4LjMsMzguOSw1OCw1Mi40LDQ1LDYyLjhDMzEuOSw3My4yLDE1LjksODAuNSwtMS40LDgyLjRDLTE4LjgsODQuMywtMzcuNSw4MC45LC01MC44LDcwLjZDLTY0LjEsNjAuMywtNzEuOSw0My4xLC03Ny42LDI1LjNDLTgzLjMsNy41LC04Ni45LC0xMC45LC04MSwtMjUuNEMtNzUuMSwtMzkuOSwtNTkuNywtNTAuNSwtNDQuNywtNjEuM0MtMjkuNiwtNzIuMSwtMTQuOCwtODMuMSwxLjQsLTg1QzE3LjUsLTg2LjgsMzUsLTc5LjYsNDcuNCwtNjcuOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00Ny40LC02Ny45QzU5LjksLTU2LjMsNjcuMiwtNDAuMyw3MS42LC0yNEM3NS45LC03LjcsNzcuMiw4LjksNzIuNywyMy45QzY4LjMsMzguOSw1OCw1Mi40LDQ1LDYyLjhDMzEuOSw3My4yLDE1LjksODAuNSwtMS40LDgyLjRDLTE4LjgsODQuMywtMzcuNSw4MC45LC01MC44LDcwLjZDLTY0LjEsNjAuMywtNzEuOSw0My4xLC03Ny42LDI1LjNDLTgzLjMsNy41LC04Ni45LC0xMC45LC04MSwtMjUuNEMtNzUuMSwtMzkuOSwtNTkuNywtNTAuNSwtNDQuNywtNjEuM0MtMjkuNiwtNzIuMSwtMTQuOCwtODMuMSwxLjQsLTg1QzE3LjUsLTg2LjgsMzUsLTc5LjYsNDcuNCwtNjcuOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
itext10 gif {
  display: flex;
  place-content: center center;
  align-items: center;
  font-size: 35px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  padding: 5px;
  background: rgba(var(--bgelev1));
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
}
itext10 gif i {
  background-image: linear-gradient(to right, var(--pastelgradient2)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0);
}
itext10 gif.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
itext10 gif.square {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
itext10 gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
itext10 gif.blob {
  margin: 0;
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 0;
  padding: 0;
  mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00Ny40LC02Ny45QzU5LjksLTU2LjMsNjcuMiwtNDAuMyw3MS42LC0yNEM3NS45LC03LjcsNzcuMiw4LjksNzIuNywyMy45QzY4LjMsMzguOSw1OCw1Mi40LDQ1LDYyLjhDMzEuOSw3My4yLDE1LjksODAuNSwtMS40LDgyLjRDLTE4LjgsODQuMywtMzcuNSw4MC45LC01MC44LDcwLjZDLTY0LjEsNjAuMywtNzEuOSw0My4xLC03Ny42LDI1LjNDLTgzLjMsNy41LC04Ni45LC0xMC45LC04MSwtMjUuNEMtNzUuMSwtMzkuOSwtNTkuNywtNTAuNSwtNDQuNywtNjEuM0MtMjkuNiwtNzIuMSwtMTQuOCwtODMuMSwxLjQsLTg1QzE3LjUsLTg2LjgsMzUsLTc5LjYsNDcuNCwtNjcuOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00Ny40LC02Ny45QzU5LjksLTU2LjMsNjcuMiwtNDAuMyw3MS42LC0yNEM3NS45LC03LjcsNzcuMiw4LjksNzIuNywyMy45QzY4LjMsMzguOSw1OCw1Mi40LDQ1LDYyLjhDMzEuOSw3My4yLDE1LjksODAuNSwtMS40LDgyLjRDLTE4LjgsODQuMywtMzcuNSw4MC45LC01MC44LDcwLjZDLTY0LjEsNjAuMywtNzEuOSw0My4xLC03Ny42LDI1LjNDLTgzLjMsNy41LC04Ni45LC0xMC45LC04MSwtMjUuNEMtNzUuMSwtMzkuOSwtNTkuNywtNTAuNSwtNDQuNywtNjEuM0MtMjkuNiwtNzIuMSwtMTQuOCwtODMuMSwxLjQsLTg1QzE3LjUsLTg2LjgsMzUsLTc5LjYsNDcuNCwtNjcuOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
itext10 gif.blob img {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: inherit;
  mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00Ny40LC02Ny45QzU5LjksLTU2LjMsNjcuMiwtNDAuMyw3MS42LC0yNEM3NS45LC03LjcsNzcuMiw4LjksNzIuNywyMy45QzY4LjMsMzguOSw1OCw1Mi40LDQ1LDYyLjhDMzEuOSw3My4yLDE1LjksODAuNSwtMS40LDgyLjRDLTE4LjgsODQuMywtMzcuNSw4MC45LC01MC44LDcwLjZDLTY0LjEsNjAuMywtNzEuOSw0My4xLC03Ny42LDI1LjNDLTgzLjMsNy41LC04Ni45LC0xMC45LC04MSwtMjUuNEMtNzUuMSwtMzkuOSwtNTkuNywtNTAuNSwtNDQuNywtNjEuM0MtMjkuNiwtNzIuMSwtMTQuOCwtODMuMSwxLjQsLTg1QzE3LjUsLTg2LjgsMzUsLTc5LjYsNDcuNCwtNjcuOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00Ny40LC02Ny45QzU5LjksLTU2LjMsNjcuMiwtNDAuMyw3MS42LC0yNEM3NS45LC03LjcsNzcuMiw4LjksNzIuNywyMy45QzY4LjMsMzguOSw1OCw1Mi40LDQ1LDYyLjhDMzEuOSw3My4yLDE1LjksODAuNSwtMS40LDgyLjRDLTE4LjgsODQuMywtMzcuNSw4MC45LC01MC44LDcwLjZDLTY0LjEsNjAuMywtNzEuOSw0My4xLC03Ny42LDI1LjNDLTgzLjMsNy41LC04Ni45LC0xMC45LC04MSwtMjUuNEMtNzUuMSwtMzkuOSwtNTkuNywtNTAuNSwtNDQuNywtNjEuM0MtMjkuNiwtNzIuMSwtMTQuOCwtODMuMSwxLjQsLTg1QzE3LjUsLTg2LjgsMzUsLTc5LjYsNDcuNCwtNjcuOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
itext10 recipient {
  display: flex;
  gap: 5px;
  flex-direction: column;
  place-content: center center;
  align-items: flex-end;
}
itext10 recipient::before {
  content: "new message from";
  font: 700 8px var(--font1);
  letter-spacing: 0.25px;
  text-transform: uppercase;
  background: rgba(var(--bgelev1));
  padding: 5px;
  border-radius: 3px;
}
itext10 recipient span {
  font: 500 20px var(--font2);
  border-bottom: 2px solid rgba(var(--bgelev1));
}
itext10 .messages {
  order: 2;
  display: flex;
  gap: 10px;
  flex-direction: column;
  place-content: center center;
  align-items: flex-start;
  padding: 40px;
  text-align: justify;
}
itext10 .messages note { 
  align-self: center;
  font: 700 9px var(--font1);
  color: rgba(var(--fontdim));
  text-transform: uppercase;
  letter-spacing: 0.25px;
}
itext10 .messages p {
  margin: 0;
  background: rgba(var(--bgelev1)) linear-gradient(to right, var(--pastelgradient1)); 
  padding: 10px;
  border-radius: 5px;
}
itext10 .messages b, itext10 .messages i {
  background: rgba(var(--bgelev1));
  padding: 2px 5px;
  border-radius: 3px;
}
itext10 .messages b {
  color: var(--fontaccent1);
}
itext10 .messages i {
  color: var(--fontaccent1);
}
itext10 .messages u {
  font: 400 13px var(--font2);
  text-decoration: underline var(--fontaccent4);
}
itext10 .messages a {
  text-decoration: underline var(--fontaccent1);
}
itext10 .messages p img {
  display: block;
  max-width: 100%;
  border-radius: inherit;
}
itext10 bott {
  display: flex;
  gap: 20px;
  place-content: center space-between;
  align-items: center;
  width: 100%;
  order: 3;
  border-top: 1px solid rgba(var(--border));
  background: rgba(var(--bgelev3));
  padding: 20px;
  font-size: 15px;
}
itext10 bott span {
  flex-grow: 1;
  background: rgba(var(--bgelev1));
  padding: 8px;
  border-radius: 3px;
  font: 700 9px var(--font1);
  letter-spacing: 0.25px;
  text-transform: uppercase;
}
itext10 bott span::before {
  content: "type message...";
}
itext10 bott i {
  color: rgba(var(--fontdim));
}