ithread11 {
  display: block;
  margin: auto;
  font: inherit 15px var(--font1);
  line-height: 2;
  width: 540px;
  background: rgba(var(--bgelev1));
  border: 1px solid rgba(var(--border));
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
ithread11 topper {
  display: block;
  padding: 20px;
  border-bottom: 1px solid rgba(var(--border));
}
ithread11 bottbar {
  display: block;
  padding: 20px;
  border-top: 1px solid rgba(var(--border));
}
ithread11 inner {
  display: flex;
  flex-direction: column;
  place-content: flex-start center;
  align-items: center;
  gap: 50px;
  background: rgba(var(--bgelev3));
  padding: 50px;
}
ithread11 innertopper {
  display: flex;
  place-content: center space-between;
  align-items: center;
  width: 100%;
}
ithread11 tagspace {
  display: flex;
  gap: 2px;
  flex-direction: column;
  place-content: center center;
  align-items: flex-start;
  text-transform: uppercase;
  line-height: 1;
}
ithread11 tagspace::before {
  display: inline-block;
  font: 600 12px var(--font1);
  content: "tagged for";
}
ithread11 tagspace span {
  display: inline-block;
  font: 700 15px var(--font1);
  background-image: linear-gradient(to right, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0);
  border-bottom: 3px solid rgba(var(--bgelev1));
  padding-bottom: 5px;
}
ithread11 innertopper gif {
  display: flex;
  place-content: center center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
  background: rgba(var(--bgelev1));
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
ithread11 innertopper gif.circle {
  border-radius: 50%;
}
ithread11 innertopper gif.square {
  border-radius: 5px;
}
ithread11 innertopper img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
ithread11 innertopper img[src].mgicon {
  width: 50px;
  height: 50px;
  border-radius: 0px;
}
ithread11 .writing {
  width: 100%;
  background: rgba(var(--bgelev1));
  border: 1px solid rgba(var(--border));
  border-radius: 5px;
  padding: 25px;
  text-align: justify;
}
ithread11 .writing p {
  margin: 0;
  margin-top: 20px;
  text-indent: 20px;
}
ithread11 .writing p:first-child {
  margin-top: 0;
}
ithread11 .writing b {
  font: 700 16px var(--font1);
  background-image: linear-gradient(to right, var(--pastelgradient2));
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 100%;
  padding-bottom: 5px;
}
ithread11 .writing i {
  color: var(--fontaccent1);
  font: 600 16px var(--font1);
  font-style: italic;
}
ithread11 .writing u {
  font: 400 15px var(--font2);
  text-decoration: underline var(--fontaccent1);
}
ithread11 .writing a {
  color: var(--fontaccent1);
  text-decoration: underline rgba(var(--font));
}
ithread11 .writing overflow {
  max-height: 350px;
}