ithread4 {
  font: 500 15px var(--font1);
  line-height: 1.5;
  letter-spacing: 0.25px;
  background: rgba(var(--bgelev1));
  width: 400px;
  padding: 15px;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 0;
  display: block;
  border-radius: 15px;
  border: 1px solid rgba(var(--bgelev6));
}
ithread4 inner {
  display: flex;
  gap: 15px;
  flex-direction: column;
  place-content: flex-start center;
  align-items: center;
  width: 100%;
  background: rgba(var(--bgelev3));
  border: 1px solid rgba(var(--bgelev6));
  padding: 50px;
  border-radius: inherit;
}
ithread4 gif {
  display: block;
  width: 125px;
  height: 125px;
  border-radius: 10px;
  padding: 10px;
  background: rgba(var(--bgelev1));
  border: 1px solid rgba(var(--bgelev6));
}
ithread4 gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
ithread4 lyr1 {
  font: 400 19px var(--font2);
  background-image: linear-gradient(to right, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0);
  text-decoration: underline rgba(var(--fontdim));
}
ithread4 lyr2 {
  font: 400 19px var(--font2);
  background-image: linear-gradient(to left, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0);
  text-decoration: underline rgba(var(--fontdim));
}
ithread4 .writing {
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background: rgba(var(--bgelev1));
  border: 1px solid rgba(var(--bgelev6));
}
ithread4 .writing overflow {
  max-height: 30em;
}
ithread4 .writing p {
  margin: 0;
  margin-top: 15px;
  text-indent: 15px;
}
ithread4 .writing p:first-of-type {
  margin-top: 0;
}
ithread4 .writing p:first-letter {
  font: 400 15px var(--font2);
  color: var(--fontaccent4);
}
ithread4 .writing b, ithread4 .writing i {
  font-size: 17px;
}
ithread4 .writing b {
  color: var(--fontaccent1);
}
ithread4 .writing i {
  color: var(--fontaccent4);
}
ithread4 .writing u {
  font: 400 15px var(--font2);
  text-decoration: underline var(--fontaccent2);
}
ithread4 .writing a {
  color: var(--fontaccent3);
  text-decoration: underline;
}
ithread4 tagspace {
  margin-top: 35px;
  border-radius: 10px;
  padding: 10px;
  background: rgba(var(--bgelev1));
  border: 1px solid rgba(var(--bgelev6));
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--fontaccent2);
}
